<div class="container">
  <div class="hero-top-panel hero-top-image">
    <div class="hero-top-text">
      <h2>
        IHCC's team of professional business advisors is passionate about helping entrepreneurs
      </h2>
      <h4> 
        If you're looking to start or grow your business, <strong>we can help.</strong>
      </h4>
      <div class="social-block">
        Connect with us:
        {{fa-icon "facebook"}}
        {{fa-icon "twitter"}}
        {{fa-icon "linkedin"}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="block about-us row">
    <div class="col-md-4">
      <div class="image-block about">
        <h2>ABOUT</h2>
      </div>
    </div>
    <div class="col-md-8">
      <div class="block-content">
        <h4> Engage and empower entrepreneurs to create a better world</h4><br>
        <p>
          The Illinois Hispanic Chamber of Commerce is the largest community of Hispanic business owners in Illinois and the Midwest.  IHCC works with business owners, providing unique and strategic one-on-one services designed to help businesses thrive and grow.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row events">
    <div class="col-md-8">
      <div class="block-content-table image-bg events-image">
        <table class="table table-negative-color">
          <tbody> 
            <tr> 
              <td>April 28th Membership Meeting</td> 
              <td>{{fa-icon "calendar"}} Apr 18th, 2016</td> 
              <td class="btn-column"><a href="" class="btn-simple-inverse">REGISTER</a></td> 
            </tr>
            <tr> 
              <td>April 28th Membership Meeting</td> 
              <td>{{fa-icon "calendar"}} Apr 18th, 2016</td> 
              <td class="btn-column"><a href="" class="btn-simple-inverse">REGISTER</a></td> 
            </tr> 
            <tr> 
              <td>April 28th Membership Meeting</td> 
              <td>{{fa-icon "calendar"}} Apr 18th, 2016</td> 
              <td class="btn-column"><a href="" class="btn-simple-inverse">REGISTER</a></td> 
            </tr> 
            <tr> 
              <td>April 28th Membership Meeting</td> 
              <td>{{fa-icon "calendar"}} Apr 18th, 2016</td> 
              <td class="btn-column"><a href="" class="btn-simple-inverse">REGISTER</a></td> 
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="block-content">
        <h2> EVENTS </h2><br>
        <p>
        Investing in the Latino community is a vital part of what I do. IHCC regularly hosts networking and public policy events to connect with the community.</p>  
      </div>
    </div>
  </div>
</div>


<div class="container bios">
  <div class="row">
    <div class="col-md-3">
      <div class="panel">
        <img src="/assets/images/duque.png">
        <h5>Omar Duque</h5>
        <p>president and ceo</p>
        <div class="actions">
          <a href="">{{fa-icon "envelope"}}contact</a>
          <a href="">{{fa-icon "user"}}bio</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <img src="/assets/images/escalante.png">
        <h5>Roberto Escalante, MBA</h5>
        <p>chief operating oficer</p>
        <div class="actions">
          <a href="">{{fa-icon "envelope"}}contact</a>
          <a href="">{{fa-icon "user"}}bio</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <img src="/assets/images/francis.png">
        <h5>Kelly Francis</h5>
        <p>vice president of corporate relations</p>
        <div class="actions">
          <a href="">{{fa-icon "envelope"}}contact</a>
          <a href="">{{fa-icon "user"}}bio</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <img src="/assets/images/bonilla.png">
        <h5>Silvia Bonilla, MBA</h5>
        <p>director, small business development center</p>
        <div class="actions">
          <a href="">{{fa-icon "envelope"}}contact</a>
          <a href="">{{fa-icon "user"}}bio</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel">
        <img src="/assets/images/alcantar.png">
        <h5>Alex Alcantar</h5>
        <p>director, illinois procurement technical assesstace center at ihcc</p>
        <div class="actions">
          <a href="">{{fa-icon "envelope"}}contact</a>
          <a href="">{{fa-icon "user"}}bio</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <img src="/assets/images/bran.png">
        <h5>Liana Bran</h5>
        <p>director, illinois dhs substance-free worplace program at ihcc</p>
        <div class="actions">
          <a href="">{{fa-icon "envelope"}}contact</a>
          <a href="">{{fa-icon "user"}}bio</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <img src="/assets/images/delagarza.png">
        <h5>Joseph DeLaGarza, MBA</h5>
        <p>senior bussiness councelor, mbda bussiness center</p>
        <div class="actions">
          <a href="">{{fa-icon "envelope"}}contact</a>
          <a href="">{{fa-icon "user"}}bio</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <img src="/assets/images/gloria.png">
        <h5>Isabel Gloria</h5>
        <p>Project Coordinator</p>
        <div class="actions">
          <a href="">{{fa-icon "envelope"}}contact</a>
          <a href="">{{fa-icon "user"}}bio</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel">
        <img src="/assets/images/garcia.png">
        <h5>Gabriela Garcia</h5>
        <p>project director small business transportation resource center</p>
        <div class="actions">
          <a href="">{{fa-icon "envelope"}}contact</a>
          <a href="">{{fa-icon "user"}}bio</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <img src="/assets/images/reyes.png">
        <h5>Jacqueline Reyes</h5>
        <p>
          project manager small business transportation resource center
        </p>
        <div class="actions">
          <a href="">{{fa-icon "envelope"}}contact</a>
          <a href="">{{fa-icon "user"}}bio</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <img src="/assets/images/saldana.png">
        <h5>Juan Saldana</h5>
        <p>
          Innovation Strategist/Business Analyst &amp; Mentor 
        </p>
        <div class="actions">
          <a href="">{{fa-icon "envelope"}}contact</a>
          <a href="">{{fa-icon "user"}}bio</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel">
        <img src="/assets/images/ortiz.png">
        <h5>Emma Ortiz</h5>
        <p>
          director, accounting and administration
        </p>
        <div class="actions">
          <a href="">{{fa-icon "envelope"}}contact</a>
          <a href="">{{fa-icon "user"}}bio</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel">
        <img src="/assets/images/trevino.png">
        <h5>Loretta Trevino</h5>
        <p>
          program coordinator illinois dhs substance-free worplace program at ihcc events manager
        </p>
        <div class="actions">
          <a href="">{{fa-icon "envelope"}}contact</a>
          <a href="">{{fa-icon "user"}}bio</a>
        </div>
      </div>
    </div>
  </div>
</div>

